#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<style>
/*
label[for='object_summary'],
label[for='object_process'] {
  font-size: 8pt;
  left: 260px;
  position: absolute;
  top: 14px;
  width: 500px;
}
*/
</style>
%{
  actiontype = object.function.actionPath.split("/").last().toString()
  if( models.ActionType.find("byName", actiontype ).fetch().size() == 0 ){
    actiontypeobj = models.ActionType.find("byName", "default" ).fetch().get(0)
  } else {
    actiontypeobj = models.ActionType.find("byName", actiontype ).fetch().get(0)
  }
}%
<script>
(function($){
  $(function(){
//    var reBr = RegExp("(\r\n|\r|\n)", "g");
//    var labelSummary = $("label[for='object_summary']").text();
//    var labelProcess = $("label[for='object_process']").text();
//    var strSummary = $("#actiontypeobj_summary").val().replace(reBr,"<br />");
//    var strProcess = $("#actiontypeobj_process").val().replace(reBr,"<br />");
//    $("label[for='object_summary']").before("<label>"+labelSummary+"</label>");
//    $("label[for='object_summary']").html(strSummary);
//    $("label[for='object_summary']").inFieldLabels();
//    $("label[for='object_process']").before("<label>"+labelProcess+"</label>");
//    $("label[for='object_process']").html(strProcess);
//    $("label[for='object_process']").inFieldLabels();
  
//    $("#object_summary").watermark("a\nb\nc\nd\ne\nf");
    var strSummary = "${actiontypeobj.summary.replaceAll("(\r\n|\r|\n)","\\\\n").raw()}"
    var strProcess = "${actiontypeobj.process.replaceAll("(\r\n|\r|\n)","\\\\n").raw()}";
//    $("#object_summary").watermark( $("#actiontypeobj_summary").val() );
//    $("#object_process").watermark( $("#actiontypeobj_process").val() );
    $("#object_summary").watermark( strSummary );
    $("#object_process").watermark( strProcess );

//    var dataTableName = $("#object_dataTables option:selected").text();
    var dataTableName = "";
    $("#object_dataTables option:selected").each(function(){
      dataTableName += (dataTableName?":":"") + $(this).text();
    });

//    $("#test").val(dataTableName);

    $("label[for='object_dataTables']").parent().after('<div class="crudField crud_longtext"><label for="datatable_datacolumn">dataColumn</label><input type="hidden" name="object.datatable.datacolumn" value="" /><select id="datatable_datacolumn" name="object.datatable.datacolumn" multiple="yes"></select><span class="crudHelp"></span></div>');

    
    var jsonCheck = #{jsAction @ActionColumns.json(':action_id') /}
    var jsonCheckParam = {};
    jsonCheckParam['action_id'] = ${object.id};
    $.getJSON(
      jsonCheck(jsonCheckParam), 
      function(datas) {
        var options = "";
        if(datas.length > 0) {
//          for(var i = 0; i < datas.length; i++) {
//            options += '<option selected="true" value="' + datas[i].id + '">' + datas[i].name + "</option>"
//          }
//          $("#datatable_datacolumn").html(options);
//          $("#datatable_datacolumn").multiselect();
          test2(datas);
        } else {
          test();
        }
      }
    )

    function test2(datas2) {
      var jsonAction = #{jsAction @DataColumns.json(':datatable_name') /}
      var jsonParam = {};
      jsonParam['datatable_name'] = dataTableName;
      $.getJSON(
        jsonAction(jsonParam), 
        function(datas3) {
          var options = "";
          for(var i = 0; i < datas3.length; i++) {
            var flg = false;
            for(var j=0; j < datas2.length; j++) {
              if(datas3[i].id == datas2[j].id){
                flg = true;
                break;
              }
            }
            if(flg) {
              // selected
              options += '<option selected="true" value="' + datas3[i].id + '">' + datas3[i].name + ":" + datas3[i].dataTable.name + "</option>"
            } else {
              // not selected
              options += '<option value="' + datas3[i].id + '">' + datas3[i].name + ":" + datas3[i].dataTable.name + "</option>"
            }
          }
          $("#datatable_datacolumn").html(options);
          $("#datatable_datacolumn").multiselect();
        }
      )
    }

    function test() {
      var jsonAction = #{jsAction @DataColumns.json(':datatable_name') /}
      var jsonParam = {};
      jsonParam['datatable_name'] = dataTableName;
      $.getJSON(
        jsonAction(jsonParam), 
        function(datas) {
          var options = "";
          for(var i = 0; i < datas.length; i++) {
            options += '<option selected="true" value="' + datas[i].id + '">' + datas[i].name + ":" + datas[i].dataTable.name + "</option>"
          }
          $("#datatable_datacolumn").html(options);
          $("#datatable_datacolumn").multiselect();
        }
      )
    }

  });
})(jQuery);
</script>
%{
  actiontype = object.function.actionPath.split("/").last().toString()
  if( models.ActionType.find("byName", actiontype ).fetch().size() == 0 ){
    actiontypeobj = models.ActionType.find("byName", "default" ).fetch().get(0)
  } else {
    actiontypeobj = models.ActionType.find("byName", actiontype ).fetch().get(0)
  }
}%
<div id="result"></div>

<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>

    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form /}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
    #{/form}
    </div>

    #{form @delete(object._key())}
        <p class="crudDelete">
            <input type="submit" value="&{'crud.delete', type.modelName}" />
        </p>
    #{/form}

</div>
